/* Styles go here */

[ng-hide]{
    color:red;
    font-size: large;
    font-weight: bold;
}

section{
    font-size: large;
}

#tempAdded{
    font-size: large;
}

#result{
    color:tomato;
    font-weight: bold;
}